<html>
  <head>
    <title>About me</title>
    <link rel="stylesheet" href="/company/static/style.css" />
  </head>
  <body>
    <div class="about">
      <div class="navbar">
        <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
      </div>
      <div class="Nikki">
        <p>
          My name is Nikhil Paul Lincoln Fernandez. I was born in the the 1999.
          I am 22 years old. I am <br /><br />
          the youngest son in my family. I have an elder brother. I did my
          schooling in Petit Seminaire <br /><br />
          Higher Secondary School. I completed my schooling in 2017. I did my
          B-tech(CSE) in National <br /><br />
          Institute of Technology, Puducherry. I graduated in 2021. I have a lot
          of hobbies. Some of <br /><br />them are to sing, play football and so
          on. I am a singer in my band.
        </p>
        <a href="/company/int.html"
          ><button><span></span> BACK TO HOME</button></a
        >
      </div>
    </div>
  </body>
</html>
