<html>
  <head>
    <title>Achievements</title>
    <link rel="stylesheet" href="/company/static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="achbanner">
        <div class="navbar">
          <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
        </div>
        <div class="ach">
          <p>
            -> Participated in Musical Band Performance on the event of PECOFES
            held at Pondicherry <br />
            <br />
            Engineering College during 2017. <br />
            <br />
            <br />
            -> Participated and won second place in Musical Band Performance on
            the event of <br />
            <br />
            RECOFES held at Rajiv Gandhi College of Engineering and Technology
            during 2018.
            <br />
            <br />
            <br />
            -> Participated and won first place in Musical Band Performance on
            the event of Aura held at <br />
            <br />
            Pondicherry Institute of Medical Sciences during 2018. <br />
            <br />
            <br />
            -> Participated in Musical Band Performance on the event of SPANDAN
            held at JIPMER <br />
            <br />
            during 2019.
          </p>
          <a href="int.html"
            ><button><span></span> Back to home page</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
