<html>
  <head>
    <title>Educational details</title>
    <link rel="stylesheet" href="/company/static/style.css" />
    <style type="text/CSS">
      table {
        border: 1px solid black;
      }

      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="banner">
      <div class="markbanner">
        <div class="navbar">
          <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
        </div>
        <table class="table">
          <thead>
            <th>COURSE</th>
            <th>INSTITUTION</th>
            <th>UNIVERSITY</th>
            <th>PERCENTAGE</th>
            <th>PASSING YEAR</th>
          </thead>
          <tr>
            <td align="center">B-TECH <br />(CSE)</td>
            <td align="center">NIT-PUDUCHERRY</td>
            <td align="center">AUTONOMOUS</td>
            <td align="center">6.5</td>
            <td align="center">2021</td>
          </tr>
          <tr>
            <td align="center">12TH</td>
            <td align="center">PETIT SEMINAIRE HIGHER SECONDARY SCHOOL</td>
            <td align="center">STATE BOARD</td>
            <td align="center">80%</td>
            <td align="center">2017</td>
          </tr>
          <tr>
            <td align="center">10TH</td>
            <td align="center">PETIT SEMINAIRE HIGHER SECONDARY SCHOOL</td>
            <td align="center">STATE BOARD</td>
            <td align="center">94%</td>
            <td align="center">2015</td>
          </tr>
        </table>
        <div class="proof">
          <h2>MARKSHEETS</h2>
          <ul>
            <li>
              <a href="CollegeMS.jpeg" target="_blank"
                ><button><span></span>COLLEGE</button></a
              >
            </li>
            <li>
              <a href="12thMS.jpeg" target="_blank"
                ><button type="button"><span></span>12th</button></a
              >
            </li>
            <li>
              <a href="10thMS.jpeg" target="_blank"
                ><button type="button"><span></span>10th</button></a
              >
            </li>
          </ul>
        </div> <br> <br> <br>
        <div class="but">
          <a href="#"
            ><span></span>JUMP TO TOP</a
          >  <BR></BR>
          <a href="/company/int.html"
            ><span></span> BACK TO HOME PAGE</a
          >
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
