<html>
  <head>
    <title>Objectives</title>
    <link rel="stylesheet" href="/company/static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="objbanner">
        <div class="navbar">
          <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
        </div>
        <div class="objj">
          <p>
            To achieve a good career growth through a continuous learning
            process and work with <br />
            <br />
            dedication and determination. Seeking a Python Programmer position
            in a reputable company <br />
            <br />
            that permits me to utilize my Programming skills and knowledge.
          </p>
          <a href="int.html"
            ><button><span></span> Back to home page</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
