<html>
  <head>
    <title>Personal details</title>
    <link rel="stylesheet" href="/company/static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="persbanner">
        <div class="navbar">
          <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
        </div>
        <div class="pers">
          <p>
            <b> FATHER'S NAME:</b> LINCOLN FRANCIS FERNANDEZ <br />
            <br />
            <b>MOTHER'S NAME:</b> PAMILA LINCOLN <br /><br />
            <b>SIBLING'S NAME:</b> NEVIN RICHARD LINCOLN FERNANDEZ <br /><br />
            <b>EMAIL ID:</b> nikhilfernandez7@gmail.com <br /><br />
            <b>MOBILE NO:</b> (+91) 7339119488 / 7604905336 <br /><br />
            <b>DATE OF BIRTH:</b> 27/06/1999
          </p>
          <a href="int.html"
            ><button><span></span> Back to home page</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
