<html>
  <head>
    <title>TECHNICAL SKILLS</title>
    <link rel="stylesheet" href="/company/static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="techbanner">
        <div class="navbar">
          <a href="/int.html"><img src="/Images/PAUL5.png" class="logo"/ ></a>
        </div>
        <div class="tech">
          <h2><u>PROFICIENT IN:</u></h2>
          <p>
            -> PYTHON <br />
            <br />
            -> HTML <br />
            <br />
            -> CSS <br />
            <br />
            -> FLUENT ENGLISH COMMUNICATION
          </p>
          <a href="int.html"
            ><button><span></span> Back to home page</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
